# ---------------------------------------------------
# 1. ARQUIVOS DE CACHE E METADADOS DO PYTHON / JUPYTER
# ---------------------------------------------------
__pycache__/
*.pyc
*.pyd
*.so
.ipynb_checkpoints/ # Cache de notebooks
.vscode/            # Configurações de usuário do VS Code (opcional)

# ---------------------------------------------------
# 2. ARQUIVOS DE SAÍDA DO PIPELINE (CAMADAS DE DADOS)
# ---------------------------------------------------
# A pasta 'data' é mapeada, mas só deve conter o input (source).
# EXCLUIR TODOS OS ARQUIVOS GRANDES GERADOS PELO ETL (Bronze, Silver, Gold):
data/bronze/
data/silver/
data/gold/
!data/source/ # Permite que a pasta 'source' e o CSV fiquem (CRÍTICO)
data/*.csv    # Exclui qualquer CSV solto na pasta data/

# ---------------------------------------------------
# 3. AMBIENTE DOCKER E AIRFLOW
# ---------------------------------------------------
# Logs do Airflow (Muito grandes)
logs/

# Arquivos de metadados do DB (PostgreSQL interno do Airflow)
volumes/

# Arquivos de ambiente e segredos (O .env deve ficar localmente no seu PC, mas é bom listá-lo)
.env
*.Zone.Identifier # Cache de bloqueio do Windows/WSL
*.pid

# ---------------------------------------------------
# 4. DEPENDÊNCIAS PYTHON
# ---------------------------------------------------
# Ambientes virtuais
venv/
.venv/


data/*.csv
